Microsoft Windows [Version 10.0.18362.30]
(c) 2019 Microsoft Corporation. All rights reserved.

C:\Users\CPB06GameN>git --version
git version 2.31.1.windows.1

C:\Users\CPB06GameN>git config --global user.name "Kimhyungzun"

C:\Users\CPB06GameN>git config --global user.email procss2696@naver.com

C:\Users\CPB06GameN>cd \workspace\r

C:\workspace\r>notepad 20160771.txt

C:\workspace\r>git init
Initialized empty Git repository in C:/workspace/r/.git/

C:\workspace\r>git add .

C:\workspace\r>git commit -m first
[master (root-commit) 2cbbf5a] first
 1 file changed, 1 insertion(+)
 create mode 100644 20160771.txt

C:\workspace\r>git branch -M main

C:\workspace\r>git remote add origin https://github.com/Kimhyungzun/R-lecture-2021.git

C:\workspace\r>git push -u origin main
Username for 'https://github.com': Kimhyungzun
Password for 'https://Kimhyungzun@github.com':
remote: Invalid username or password.
fatal: Authentication failed for 'https://github.com/Kimhyungzun/R-lecture-2021.git/'

C:\workspace\r>>git push -u origin main
'push'은(는) 내부 또는 외부 명령, 실행할 수 있는 프로그램, 또는
배치 파일이 아닙니다.

C:\workspace\r>git push -u origin main
Username for 'https://github.com': Kimhyungzun
Password for 'https://Kimhyungzun@github.com':
Enumerating objects: 3, done.
Counting objects: 100% (3/3), done.
Writing objects: 100% (3/3), 239 bytes | 239.00 KiB/s, done.
Total 3 (delta 0), reused 0 (delta 0), pack-reused 0
To https://github.com/Kimhyungzun/R-lecture-2021.git
 * [new branch]      main -> main
Branch 'main' set up to track remote branch 'main' from 'origin'.

C:\workspace\r>git pull
remote: Enumerating objects: 5, done.
remote: Counting objects: 100% (5/5), done.
remote: Compressing objects: 100% (2/2), done.
remote: Total 3 (delta 0), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (3/3), 807 bytes | 29.00 KiB/s, done.
From https://github.com/Kimhyungzun/R-lecture-2021
   2cbbf5a..978360e  main       -> origin/main
Updating 2cbbf5a..978360e
Fast-forward
 20160771.txt | 9 ++++++++-
 1 file changed, 8 insertions(+), 1 deletion(-)

C:\workspace\r>type README.md
지정된 파일을 찾을 수 없습니다.

C:\workspace\r>type 20160771.txt
# R 媛뺤쥖

## ?쒓뎅寃쎌젣?좊Ц, ?쒕궓??숆탳
### ?ㅻТ?꾨줈?앺듃 湲곕컲 鍮낅뜲?댄꽣 ?꾨왂 留덉뿉?ㅽ듃濡?怨쇱젙 (2021.04~2021.10)
- R ?곗씠?곕텇??
- ?뚯씠???곗씠??遺꾩꽍
- 癒몄떊?щ떇/ ?λ윭??
- ?ㅻТ ?꾨줈?앺듃

C:\workspace\r>ren 20
명령 구문이 올바르지 않습니다.

C:\workspace\r>ren 20160771.txt README.md

C:\workspace\r>git add .

C:\workspace\r>git commit -m README
[main 414ef69] README
 2 files changed, 0 insertions(+), 0 deletions(-)
 rename 20160771.txt => README.md (100%)
 create mode 100644 git

C:\workspace\r>git push
Username for 'https://github.com': Kimhyungzun
Password for 'https://Kimhyungzun@github.com':
Enumerating objects: 4, done.
Counting objects: 100% (4/4), done.
Delta compression using up to 12 threads
Compressing objects: 100% (2/2), done.
Writing objects: 100% (3/3), 274 bytes | 274.00 KiB/s, done.
Total 3 (delta 0), reused 0 (delta 0), pack-reused 0
To https://github.com/Kimhyungzun/R-lecture-2021.git
   978360e..414ef69  main -> main

C:\workspace\r>git pull
Already up to date.

C:\workspace\r>type README.md
# R 媛뺤쥖

## ?쒓뎅寃쎌젣?좊Ц, ?쒕궓??숆탳
### ?ㅻТ?꾨줈?앺듃 湲곕컲 鍮낅뜲?댄꽣 ?꾨왂 留덉뿉?ㅽ듃濡?怨쇱젙 (2021.04~2021.10)
- R ?곗씠?곕텇??
- ?뚯씠???곗씠??遺꾩꽍
- 癒몄떊?щ떇/ ?λ윭??
- ?ㅻТ ?꾨줈?앺듃

C:\workspace\r>type xxx.txt
지정된 파일을 찾을 수 없습니다.

C:\workspace\r>git add .

C:\workspace\r>git commit -m "2nd"
On branch main
Your branch is up to date with 'origin/main'.

nothing to commit, working tree clean

C:\workspace\r>git push
Username for 'https://github.com': Kimhyungzun
Password for 'https://Kimhyungzun@github.com':
Everything up-to-date

C:\workspace\r>git clone https://github.com/Kimhyungzun/R-lecture-2021.git R-copy
Cloning into 'R-copy'...
remote: Enumerating objects: 9, done.
remote: Counting objects: 100% (9/9), done.
# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~


















